.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: none;
    backdrop-filter: blur(1px);
}

h2 {
    font-family: 'Unica One', cursive;
}

body {
background-color: #f7f7f7;
margin: 0;
padding: 0;

font-family: 'League Spartan', sans-serif;
}

header {
    background-color: #f8f8f8;
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05) 
    /* black shadow with opacity of 10% */
}

#autoComplete_container {
    margin: 0;
}

#logo_container {
    display: flex;
    align-items: center;
    padding: 10px;
}

#logo {
    width: 50px;
    height: auto;
}

#add_button {
    cursor: pointer;
    border: 1.5px solid;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#add_button img {
    width: 24px;
    height: auto;
    vertical-align: middle;
    padding: 4px 0px;
    filter:saturate(0);
}

#add_button:hover {
    background-color: #c5c5c5;
}

#movieInfo_container {
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    /* align-items: center;
    justify-content: center; */
    z-index: 9998;
}

#movieInfo_container label{
    color: grey;
}

#movieInto_container p{
    font-size: 10px;
}

#edit_button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    width: 40%;
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
    margin-right: 5px;
}

#delete_button {
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    width: 40%;
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
}

#autoComplete_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #000000;
    border-width: 3px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
    align-items: center;
    justify-content: center;

}

#askConfirm_container {
    width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 9999;
}


#manualAdd {
    border: none;
    font-family: 'League Spartan', sans-serif;
    background-color: white;
    font-size: 100%;
    padding:20px;
    border: none;
}

#autoComplete {
    border: none;
}


#yes_button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    width: 40%;
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
    margin-right: 5px;
}

#no_button {
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    width: 40%;
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
}

#addMan_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    /* align-items: center;
    justify-content: center; */
    z-index: 1000;
}

#addMan_container small {
    font-family: 'Open Sans', sans-serif;
    font-size:x-small;
    color: #a9a9a9;
}
#addMan_container form  {
    display: flex;
    flex-direction: column;
}

#addMan_container input {
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border-width: 1px;
    border-color:#d3d3d3;
    border-style: solid;
}

#addMan_container textarea {
    border-radius: 5px;
    border-width: 1px;
    border-color:#d3d3d3;
}

#addMan_container form {
    margin: 20px;
}

#addMan_container label {
    padding-top: 10px;
}

#rating {
    display: flex;
    background-color: white;
    padding: 5px;
    width: 60%;
    border-radius: 5px;
    border-width: 1px;
    border-color:#d3d3d3;
}



#addExist_container {
    width: 60vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    /* align-items: center;
    justify-content: center; */
    display: flex;
}

#addExist_container img  {
    border-radius: 10px;
}

#addExist_container input {
    width: 80%;
}

#addExist_container form {
    margin: 20px;
}


/*save and cancel button in pop up*/
.button_container {
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;

}
#save_button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
}

#cancel_button {
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    border: black;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
}



.grid_container {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  
  .grid_item {
    width:100%;
    height:100%;
    background-size: cover;
    background-color: #c5c5c5;
    background-blend-mode: multiply;
    aspect-ratio: 2/3;
    border-radius: 10px;
    display: flex;
  }
  
  .movieTile_content {
    position: relative;
    align-self: flex-end;
    bottom: 0;
    left: 0;
    padding: 5px;
    font-size: 90%;
    color: white;
    text-shadow: #000000 1px 1px 3px;
}

.movieTile_content h4, .movieTile_content p {
    margin: 0;
    padding: 5px;
}


  @media (max-width: 600px) {
    .grid_container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    .grid_container {
      grid-template-columns: repeat(4, 1fr);
    }
  }

/*.hidden : class = "hidden" */
.hidden {
    display: none !important;
}