h2 {
    font-family: 'Unica One', cursive;
}

body {
background-color: #f7f7f7;
margin: 0;
padding: 0;

font-family: 'League Spartan', sans-serif;
}

header {
    background-color: #f8f8f8;
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05) 
    /* black shadow with opacity of 10% */
}

#logo_container {
    display: flex;
    align-items: center;
    padding: 10px;
}

#logo {
    width: 50px;
    height: auto;
}

#add_button {
    cursor: pointer;
    border: 1.5px solid;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#add_button img {
    width: 24px;
    height: auto;
    vertical-align: middle;
    padding: 4px 0px;
    filter:saturate(0);
}

#add_button:hover {
    background-color: #c5c5c5;
}

#autoComplete_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    align-items: center;
    justify-content: center;
}

#autoComplete {
    border: none;
}


/*save and cancel button in pop up*/
.button_container {
    margin-top: 20px;
    align-items: center;

}
#save_button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
}

#cancel_button {
    background-color: #f8f8f8;
    color: black;
    padding: 10px 20px;
    border: black;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
}



/*.hidden : class = "hidden" */
.hidden {
    display: none;
}